# Dependencies
node_modules
.pnpm-store

# Next.js
.next/
out/

# NestJS
dist/
*.log

# Prisma
/prisma/migrations

# Turbo
.turbo/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db
